.base {
    margin-left: 300px;
    height: 100%;
    box-sizing: border-box;
    padding-top: 30px;
    background: var(--base-bg);
    @include appnav {
        padding-left: 0px;
        padding-top: 56px;
    }
}

body[data-platform="MacIntel"] {
  .base{
      background: var(--base-bg-mac);
  }
}

.base--inner {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    background: #dcdcdc;
    border-radius: 0px;
    margin: 0px 0 0px;
    @media screen and (prefers-color-scheme: dark) {
      background: rgba(255,255,255,0.2);
  }
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    @media screen and (prefers-color-scheme: dark) {
      background: rgba(255,255,255,0.6);
  }
  }