.base {
    margin-left: 300px;
    height: 100%;
    box-sizing: border-box;
    padding-top: 30px;
    background: var(--base-bg);
    @include appnav {
        padding-left: 0px;
        padding-top: 56px;
    }
}

.base--inner {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    background: #dcdcdc;
    @media screen and (prefers-color-scheme: dark) {
      background: #141414;
  }
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }