clear, .clear {
    &:after,
    &:before {
        content: ' ';
        display: block;
        clear: both;
    }
}

html, body {
    font-family: "Nunito", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: var(--text-base);
    line-height: 1;
    //background: var(--base-bg);
    user-select: none;
    
    @include appnav {
        font-size: 15px;
    }
}

body {
    @extend clear;
}

#file {
    display: none;
}

.page {
    height: 100%;
    width:100%;
    //background: var(--base-bg);
    position: relative;
    overflow: auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

span.dot {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}






.button {
    @extend shadow;
    background: var(--color-secondary);
    
    font-size: 20px;
    font-weight: 800;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 5px;
    user-select: none;
    cursor: pointer;
    //transition: background 0.1s;

    display: block;
    position: relative;

    
    line-height: 1;

    &.big {
        flex: 1;
    }
    &.primary {
        background: var(--color-primary);
        &:hover {
            @include appnav {
                background: var(--color-primary);
            }
        }
        &:active {
            background: var(--color-button-hover);
        }
    }
    &.transparent {
        background: rgba(123, 123, 123, 0);
        background: rgba(123, 123, 123, 0.1);
        color: var(--text-base);
        box-shadow: none;
        svg {
            fill: var(--text-base);
        }
        &:hover {
            background: rgba(123, 123, 123, 0.25);
            color: var(--text-base);
            span svg {
                fill: var(--text-base);
            }
        }
        &:active {
            background: rgba(123, 123, 123, 0.25);
            color: var(--text-base);
        }
    }
    &.med-gray {
        background: rgba(72, 72, 72, 0.85);
    }

    

    .icon {
        height: 24px;
        width: 24px;
        margin: 0px 6px 0px -4px;
        svg {
            margin: 0;
        }
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    div.primary {
        display: flex;
        animation: buttonPrimaryIn 0.3s;
        @keyframes buttonPrimaryIn {
            0% { transform: translateX(30px); opacity: 0; }
            100% { transform: translateX(0px); opacity: 1; }
        }
    }
    div.secondary {
        display: none;
        animation: buttonSecondaryIn 0.3s;
        @keyframes buttonSecondaryIn {
            0% { transform: translateX(-30px); opacity: 0; }
            100% { transform: translateX(0px); opacity: 1; }
        }
    }

    &[data-eventstate="2"] {
        background: var(--color-button-done) !important;

        .primary {
            display: none;
        }
        .secondary {
            display: flex;
        }

    }

    .text {
        margin: 0px 0 -3px;
    }

    span {
        display: block;
        display: inline-flex;
        svg {
            margin-left: -4px;
        }
        & + span {
            margin-left: 6px;
            margin-bottom: -1px;
        }
    }

    svg {
        fill: white;
        margin: -6px 0;
    }

    @include mobile {
        padding: 12px 16px;
        span.text {
            display: none;
        }
    }


    .inner {
        overflow: hidden;
        position: relative;
        padding: 12px 12px;
        display: flex;
        width: 100%;
        height: 44px;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        backdrop-filter: brightness(100%) contrast(100%) saturate(100%);
        background: rgba(0, 0, 0, 0);
        //transition: background 0.2s, backdrop-filter 0.2s;
        

        &:hover {
        background: var(--color-button-hover);
        background: rgba(123, 123, 123, 1);
        
        color: white;
        svg {
            fill: white;
        }
        & + .more {
            &:before {
                opacity: 0;
            }
        }
        @include appnav {
            background: var(--color-secondary);
        }
    }
    &:active {
        background: var(--color-button-hover);
        color: white;
        svg {
            fill: white;
        }
    }

    }

    $morePadding: 34px;

    &.hasMore {
        padding-right: $morePadding;
        .inner {
            border-radius: 5px 0 0 5px;
        }
    }

    .more {
        position: absolute;
        top: 0;
        right: 0;
        width: $morePadding;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:  0 5px 5px 0;
        //transition: background 0.3s;
        background: rgba(123, 123, 123, 0);

        &:hover {
            cursor: pointer;
            background: rgba(123, 123, 123, 1);
            &:before {
                opacity: 0;
                transform: scale(1, 0.9);
            }
        }

        &[data-active="true"] {
            & + .moreMenu {
                display: block;
            }
        }

        &:before {
            content: ' ';
            display: block;
            position: absolute;
            top: 8px;
            left: 0px;
            height: calc(100% - 16px);
            width: 1px;
            background: white;
            opacity: 0.5;
            //transition: opacity 0.3s, transform 0.3s;
            transform: scale(1, 1);
        }
    }
    .moreMenu {
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: auto;
        padding-bottom: 10px;
        display: none;
        animation: moreMenuIn 0.2s;
        @keyframes moreMenuIn {
            0% { transform: translateY(10px); opacity: 0; }
            100% { transform: translateY(0px); opacity: 1; }
        }
        
        ul {
            background: rgb(70, 70, 70);
            //backdrop-filter: blur(8px);
            border-radius: 5px;
            list-style: none;
            padding: 5px 0;
            margin: 0;
            position: relative;
            z-index: 200000;
            li {
                padding: 12px 0;
                &:hover {
                    background: black;
                }
            }
        }

        .moreMenuBlock {
            position: absolute;
            top: -100vh;
            left: -100vw;
            width: 200vw;
            height: 200vh;
            z-index: 200000;
            background: rgba(255, 0, 0, 0);
        }
    }


@at-root {
    body[data-platform="MacIntel"] {
        .button span + span {
            // Vertical alignment of text on MacOS is stupid
            margin-bottom: 3px;
        }
    }
}

}