.elem--file {
    user-select: none;
    position: relative;

    & > .inner {
        padding: 10px 20px 10px;
        width: 100%;
        display: flex;
        direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }

    &[data-status="error"] {
        background: rgba(255, 0, 0, 0.2);
        .preview > .inner {
            background-image: url('../assets/unknown.svg');
        }

        .subtitle {
            color: red;
            font-weight: bold;
        }
    }

    .preview {
        @extend shadow;
        will-change: transform;

        & > .inner {
            width: 84px;
            height: 84px;
            border-radius: 3px;
            overflow: hidden;
            position: relative;
            background: white center center repeat;
            background-color: var(--preview-bg);
            background-size: cover;
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .progress-bar {
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background: var(--bg-base);
            opacity: 0.9;
            transition: width 0.1s, opacity 0.3s 0.2s;
            z-index: 1;
            opacity: 0;
        }
        .compare-hover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            will-change: transform, opacity;

            svg {
                position: relative;
                z-index: 2;
                fill: white;
                width: 30px;
                height: 30px;

                animation: compareIconIn 0.23s;
                @keyframes compareIconIn {
                    0% { transform: scale(0.75); opacity: 0; }
                    100% { transform: scale(1); opacity: 1; }
                }

            }
            &:before {
                content: ' ';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: var(--color-primary);
                opacity: 0.7;
                animation: compareIconBG 0.2s;
                @keyframes compareIconBG {
                    0% { opacity: 0; }
                    100% { opacity: 0.7; }
                }
            }
        }
        img {
            display: none;
            //animation: filePreviewIn 0.3s;
            @keyframes filePreviewIn {
                0% { opacity: 0; }
                10% { opacity: 0; }
                100% { opacity: 1; }
            }
        }
    }

    .details {
        padding: 0 20px;
        flex: 1;
        min-width: 0;

        span {
            & + span {
                margin-left: 4px;
            }
        }

        .title {
            font-size: 26px;
            font-weight: 800;
            white-space: nowrap;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-bottom: 10px;
            margin-bottom: -10px;
        }

        .subtitle {
            font-size: 13px;
            margin-top: 8px;
            display: flex;
            flex-direction: row;
            align-items: center;
            .bold {
                color: var(--color-primary);
                font-weight: 800;
            }
        }


        .format {
            background: #333;
            color: white;
            display: inline-block;
            padding: 4px 7px;
            line-height: 1;
            border-radius: 17px;
            font-size: 10px;
            font-weight: bold;
            font-family: Helvetica, "Seoge UI";
            margin: -2px 2px -2px 0;

            $cJPG: rgb(64, 160, 107);
            $cPNG: rgb(201, 67, 183);
            $cWEBP: rgb(218, 58, 58);
            $cGIF: rgb(29, 101, 184);
            $cSVG: rgb(206, 161, 13);

            &.JPG {
                background: $cJPG;
            }
            &.PNG {
                background: $cPNG;
            }
            &.WEBP {
                background: $cWEBP;
            }
            &.GIF {
                background: $cGIF;
            }
            &.SVG {
                background: $cSVG;
            }

            &.JPG-to-WEBP {
                background: linear-gradient(90deg, $cJPG 0%, $cWEBP 100%);
            }
            &.JPG-to-PNG {
                background: linear-gradient(90deg, $cJPG 0%, $cWEBP 100%);
            }

            &.PNG-to-JPG {
                background: linear-gradient(90deg, $cPNG 0%, $cJPG 100%);
            }
            &.PNG-to-WEBP {
                background: linear-gradient(90deg, $cPNG 0%, $cWEBP 100%);
            }

            &.WEBP-to-JPG {
                background: linear-gradient(90deg, $cWEBP 0%, $cJPG 100%);
            }
            &.WEBP-to-PNG {
                background: linear-gradient(90deg, $cWEBP 0%, $cPNG 100%);
            }

            
            &.GIF-to-JPG {
                background: linear-gradient(90deg, $cGIF 0%, $cJPG 100%);
            }
            &.GIF-to-PNG {
                background: linear-gradient(90deg, $cGIF 0%, $cPNG 100%);
            }
            &.GIF-to-WEBP {
                background: linear-gradient(90deg, $cGIF 0%, $cWEBP 100%);
            }

            &.SVG-to-JPG {
                background: linear-gradient(90deg, $cSVG 0%, $cJPG 100%);
            }
            &.SVG-to-PNG {
                background: linear-gradient(90deg, $cSVG 0%, $cPNG 100%);
            }
            &.SVG-to-WEBP {
                background: linear-gradient(90deg, $cSVG 0%, $cWEBP 100%);
            }


        }

    }

    .actions {
        padding-right: 10px;
        .save-button {
            @extend shadow;
            width: 56px;
            height: 56px;
            display: flex;
            flex-direction: column;
            background: var(--color-primary);
            align-content: center;
            justify-content: center;
            justify-items: center;
            border-radius: 100px;
            cursor: pointer;
            transition: background 0.1s;

            animation: saveButtonIn 0.3s;
            @keyframes saveButtonIn {
                0% { transform: scale(0) rotate(60deg); }
                100% { transform: scale(1) rotate(0deg); }
            }

            display: none;

            &:hover {
                background: var(--color-button-hover);
            }

            svg {
                fill: white;
                display: block;
                margin: auto;
                width: 35px;
                height: 35px;
            }

        }


        .more-button {
            width: 56px;
            height: 56px;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            justify-items: center;
            border-radius: 100px;
            cursor: pointer;
            transition: background 0.1s;

            animation: saveButtonIn 0.3s;
            @keyframes saveButtonIn {
                0% { transform: scale(0) rotate(60deg); }
                100% { transform: scale(1) rotate(0deg); }
            }

            display: none;

            @include appnav {
                width: 42px;
                height: 42px;
            }

            &:hover {
                background: var(--color-button-hover);
                svg {
                    fill: white;
                }
            }

            svg {
                fill: var(--text-base);
                display: block;
                margin: auto;
                width: 35px;
                height: 35px;
                @include appnav {
                    width: 26px;
                    height: 26px;
                }
            }

        }


    }


    &[data-status='processing'] {
        .preview {
            & > .inner {
                animation: uploadingPulse 1s infinite;
                @keyframes uploadingPulse {
                    0% { opacity:1; }
                    50% { opacity:0.55; }
                    100% { opacity:1; }
                }
            }
            .progress-bar {
                opacity: 0.85;
            }
        }
    }

    &[data-status='analyzed'] {

            img {
                display: block;
            }
    }

    &[data-status='crushing'] {
        .preview {
            & > .inner {
                animation: uploadingPulse 0.5s infinite;
                @keyframes uploadingPulse {
                    0% { opacity:1; }
                    50% { opacity:0.55; }
                    100% { opacity:1; }
                }
            }
            img {
                display: block;
            }
            .progress-bar {
                //opacity: 0.85;
                width: 100%;
            }
        }
    }

    &[data-status='done'] {
        .preview {
            cursor: zoom-in;
            &:hover {
                .compare-hover {
                    display: flex;
                }
            }
            img {
                display: block;
            }
        }
        .actions {
            .more-button {
                display: flex;
            }
        }
    }

    // Hover states 
&[data-status='analyzed'], &[data-status='done'] {
    cursor: pointer;
    &:hover {
        background: rgba(122,122,122,0.3);
    }
    &:focus {
        background: rgba(122,122,122,0.5);
    }
}

}




@mixin elem--file--mode-small() {
    .elem--file {
        & > .inner {
            padding: 15px;
        }
        .details {
            padding: 0 15px;
            .title {
                font-size: 20px;
            }
            .subtitle {
                font-size: 12px;
            }
        }
        .preview {
            & > .inner {
                width: 42px;
                height: 42px;
            }
        }
        .actions {
            .save-button {
                width: 48px;
                height: 48px;

                svg {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}

.elem--file--mode-small {
    @include elem--file--mode-small();
}


// Stupid Mac text alignment
body[data-platform="MacIntel"] {
    .elem--file .details span + span {
        margin-bottom: 1px;
    }
    .elem--file .details .title {
        margin-bottom: -6px;
    }
}