.page--scanning {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    user-select: none;
    cursor: pointer;
    z-index: 1;
    animation: filePreviewIn 0.3s;

    .inner {
        position: relative;
        top: -50px;
    }

    svg {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
        fill: var(--color-primary);
        animation: statusScreenRotate 1.0s infinite linear;
        @keyframes statusScreenRotate {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(-360deg); }
        }
    }

    .text {
        font-size: 20px;
        line-height: 1.4;
    }

    .line-bold {
        font-weight: 900;
    }

}