.page--comparison {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 20;
    display: none;
    overflow: hidden;
    cursor: zoom-out;
    padding-top: 30px;

    animation: comparisonIn 0.3s;
        @keyframes comparisonIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }

    .bg {
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: var(--base-bg-alt);
        opacity: 0.9;
    }

    &.show {
        display: block;
    }

    .inner {
        position: relative;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        background-color: var(--base-bg-alt);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        will-change: width, transform;
    }

    .divider-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        z-index: 21;
        .inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }

    .bar {
        @extend shadow;
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background: white;
        z-index: 22;
        will-change: transform;

        &:before, &:after {
            @extend shadow;
            content: 'BEFORE';
            display: block;
            position: absolute;
            top: 0px;
            right: 2px;
            background: var(--color-primary);
            color: white;
            font-weight: 800;
            padding: 10px;
            line-height: 1;
            font-size: 18px;
            margin: 10px 0;
            border-radius: 40px 0 0 40px;
            width: 85px;
            text-align: center;
        }
        &:after {
            content: 'AFTER';
            left: 100%;
            right: auto;
            border-radius: 0 40px 40px 0;
        }
    }


    &[data-show="true"] + .page--files {
        display: none;
    }

}