.page--files {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: calc(100% - 100px);
    z-index: 2;
    //box-shadow: 0 -15px 35px rgba(33,33,33,0.5);
    box-sizing: border-box;
    //padding-bottom: 100px;

    will-change: transform;

    //transition: transform 0.9s, box-shadow 0.9s;
    transform: translateY(130%);

    &.show {
        transform: translateY(0%);
        //box-shadow: 0 20px 35px rgba(33,33,33,0.5);

        & ~ .floating-buttons {
            display: flex;
        }
    }

    @include mobile {
        @include elem--file--mode-small();
    }
    
}

.page--files--after-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid var(--base-bg-alt);
    position: sticky;
    bottom: 0;
    background: var(--base-bg);
    //box-shadow: 0 -3px 9px -5px rgba(0, 0, 0, 0.15);

    & > * {
        font-size: 13px;
        font-weight: 700;
        padding: 20px;
        @include appnav {
            padding: 15px;
        }
    }

    .totals {
        span {
            color: var(--color-primary);
            font-weight: 800;
        }
    }

    .add-file {
        display: block;
        cursor: pointer;
        user-select: none;

        &:hover {
            opacity: 0.65;
        }
    }

}



.floating-buttons {
    //@extend shadow;
    position: absolute;
    display: none;
    z-index: 4;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    //border-top: 1px solid rgba(99, 99, 99, 0.25);
    box-shadow: 0 0 12px -10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .text {
        font-size: 14px;
        text-align: left;
        font-weight: 500;
        box-sizing: border-box;
        padding: 0 10px 8px;
        width: 100%;

        b, strong {
            color: var(--color-primary);
            font-weight: bold;
        }

    }





    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        //max-width: 700px;
        margin: 0;
        width: 100%;
    }

    




}