:root {
    --base-bg: #FFFFFF; 
    --base-bg-alt: #EEEEEE;

    --text-base: black;
    --text-sidebar: black;

    --color-primary: #EB358A;
    --color-secondary: #484848;
    --color-button-hover: #111111;

    --color-button-done: #26bf4e;

    --sidebar-bg: rgba(247, 247, 247, 0.85);
    --sidebar-bg-mac: rgba(255, 255, 255, 0.4);

    --preview-bg: #848484;


    --titlebar-icon: #888;
    --titlebar-icon-hover: #000;

  }


  body[data-theme='dark'] {
    --base-bg: #101010; 
    --base-bg-alt: #212121;

    --text-base: #FFFFFF;

    --sidebar-bg: rgb(8, 8, 8);

    --color-button-hover: #333333;

    --titlebar-icon: #fff;
    --titlebar-icon-hover: #eee;

  }

  