:root {
    --base-bg: #FFFFFF; 
    --base-bg-alt: #EEEEEE;
    --base-bg-mac: rgb(255, 255, 255, 0.85);

    --text-base: black;
    --text-sidebar: black;

    --color-primary: #EB358A;
    --color-secondary: #484848;
    --color-button-hover: #111111;

    --color-button-done: #26bf4e;

    --sidebar-bg: #F1F1F1;
    --sidebar-bg-win: rgba(247, 247, 247, 0.85);
    --sidebar-bg-mac: rgba(245, 245, 245, 0.70);
    --sidebar-shadow: black;

    --preview-bg: #848484;


    --titlebar-icon: #888;
    --titlebar-icon-hover: #000;

    --sidebar-select-bg: #ffffff;
    --sidebar-select-bg-active: #dcdcdc;
    --sidebar-select-label: #000000;
    --sidebar-select-sublabel: #797979;
    --sidebar-select-sublabel-active: #505050;

  }

  @media screen and (prefers-color-scheme: dark) {
    :root {
      --base-bg: #101010; 
      --base-bg: rgb(8, 8, 8);
      --base-bg-mac: rgb(6, 6, 6, 0.9);
      --base-bg-alt: #212121;
  
      --text-base: #FFFFFF;
      --text-sidebar: #FFFFFF;
  
      --sidebar-bg: rgb(8, 8, 8);
      --sidebar-bg: #101010;

      --sidebar-bg-mac: rgba(16, 16, 16, 0.65);
  
      --color-button-hover: #333333;
  
      --titlebar-icon: #fff;
      --titlebar-icon-hover: #eee;

      --sidebar-select-bg: #323232;
      --sidebar-select-bg-active: #616161;
      --sidebar-select-label: #ffffff;
      --sidebar-select-sublabel: #999999;
      --sidebar-select-sublabel-active: #c6c6c6;
      
    }
}